<div class="category float-left">
  <div class="float-left">
    <i class="fa <%= category.icon %> category-icon"></i>
  </div>
  <div>
    <div><%= category.title %></div>
    <div><strong><%= category.name %></strong></div>
  </div>
</div>
